{% extends "Doc/doc.twig" %}

{% block doc %}

	<h3>How to change your password</h3>
	<p>
		<ol>
			<li>Click on user name in navigation bar at top of page</li>
			<li>Click on 'Change password'</li>
			<li>Enter your current password and your new password</li>
			<li>Click on the button 'Change Password'</li>
		</ol>
	</p>

{% endblock %}