{% extends "Doc/doc.twig" %}

{% block doc %}

	<h3>How to create a notice</h3>
	<p>
		<ol>
			<li>Go to Knowledge base or Membership page</li>
			<li>Click on the link 'Post a Notice'</li>
			<li>Fill in the form with a heading and the notice</li>
			<li>Click on the button 'Post notice'</li>
		</ol>
	</p>

{% endblock %}