{% extends "Doc/doc.twig" %}

{% block doc %}

	<h3>How to view all notices</h3>
	<p>
		<ol>
			<li>Go to Knowledge base or Membership page</li>
			<li>Click on the heading 'Notices'<br>(only the latest 10 notices are displayed)</li>
			<li>Click on the button 'More' to display the next 10 notices</li>
		</ol>
	</p>

{% endblock %}