{% extends "Doc/doc.twig" %}

{% block doc %}

	<h3>How to logout</h3>
	<p>
		<ol>
			<li>Click on user name in navigation bar at top of page</li>
			<li>Click on 'Sign out'</li>
		</ol>
	</p>

{% endblock %}