{% extends "Doc/doc.twig" %}

{% block doc %}

	<h3>How to send an invitation</h3>
	<p>
		<ol>
			<li>Go to Membership page</li>
			<li>Click on the link 'Invite'</li>
			<li>Enter the details of the person to be invited</li>
			<li>Confirm that this person is aged 16 or over</li>
			<li>Click on the button 'Invite'</li>
		</ol>
	</p>

{% endblock %}