{% extends "Doc/doc.twig" %}

{% block doc %}

	<h3>How to send an invitation</h3>
	<p>
		<ol>
			<li>Go to Membership page</li>
			<li>Click on the link 'Send email'</li>
			<li>If you know the email address, enter the details of the email; <br>
			Or, click on the button 'Find member' to 
			search for the email address of a member 
			whose name you know</li>
			<li>Click on the button 'Send'</li>
		</ol>
		<hr>
		<ul>
			If you don't know or cannot find the appropriate email address click 'Cancel'
		</ul>
	</p>

{% endblock %}