{%	extends 'templates/app.twig' %}

{% block content %}


<div class="container-fluid text-center"> 
	<div class="card" style="width:20rem;">
		<div class="card-header">
			<h3>Familiaris Error</h3>
		</div>
		<img class="card-img-top" src="{{ base_url }}/images/waterfall.png" width="90%" height="200" alt="A waterfall">
		<div class="card-body">
			<p class="card-text"><strong>Website unavailable: unable to access database (Error 503)</strong></p>
			<p class="card-text"><strong>Please check back again soon</strong></p>
		</div>
	</div>
</div>

{% endblock %}