<footer class="container-fluid text-center">
	<hr>
    <p><span style="font-family:'Great Vibes', serif; font-size:20px;">Familiaris Version 0.4.1 Copyright &copy; Pete Thomas (2017)</span></p>
</footer>
